.container {
    height: auto;
    width: 100vw;
    background-color: black;
}

.textbox {
    color: var(--text-white);;
    padding: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: auto;
}

.title {
    text-align: left;
    padding: 1vw;
    font-weight: 900;
    font-size: calc(12px + 2vw);
}

.subtext {
    text-align: left;
    font-size: calc(10px + 1vw);
    padding: 1vw;
    padding-top: 0;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 700px) {
    .textbox {
        padding: 2vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}