.container {
    width: 80%;
    margin: auto;
}

.textbox {
    width: 40vw;
    height: 100%;
    margin-left: auto; 
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.header {
    text-align: center;
    width: 100vw; 
    height: 60vh;

    background-repeat: no-repeat;
    background-size: cover ; 
    background-position: center center;
}

@media only screen and (max-width: 500px) {
    .header {background-image: url(~src/assets/images/headphones_low.jpg);}
}
@media only screen and (min-width: 500px) {
    .header {background-image: url(~src/assets/images/headphones.jpg);}
}

.title {
    text-align: center;
    color: white;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;

    font-weight: 900;
    font-size: calc(12px + 1.8vw);
}

.subtitle {
    text-align: center;
    color: white;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;

    font-size: calc(10px + 1vw);
    font-weight: 700;
}