<div class="container">
<div class="title">Cart</div>

<div class="cart-item" *ngFor="let item of items | keyvalue">
    <div class="image">
        <img [src]="item.key.imagePath" alt="image">
    </div>
    <div class="itemdata">
        <div class="name">{{ item.key.name }}</div>
        <div class="quantity">Quantity: {{ item.value }}</div>
        <div class="buttons">
            <button (click)="increaseItem(item.key)">+</button>
            <button (click)="decreaseItem(item.key)">-</button>
        </div>
        <div class="interim">Price: {{ getTotalOfItem(item.key, item.value) | currency }}</div>
    </div>
</div>
<div class="total">Total: {{getTotal() | currency}}</div>
</div>