<div class="container">
<p class="title">Cart</p>
<div class="cart-item" *ngFor="let item of items | keyvalue">
    <img [src]="'/assets/images/products/'+item.key.id+'-1.png'" alt="image">
    <span>{{ item.key.name }}</span>
    <span>{{ item.value }}</span>
    <span>{{ getTotalOfItem(item.key, item.value) | currency }}</span>
    <button (click)="increaseItem(item.key)"><mat-icon>add</mat-icon></button>
    <button (click)="decreaseItem(item.key)"><mat-icon>remove</mat-icon></button>
</div>
<p class="total">Total: {{getTotal() | currency}}</p>
</div>