<div class="container">
<p class="title">Cart</p>
<div class="cart-item" *ngFor="let item of items | keyvalue">
    <img [src]="item.key.imagePath" alt="image">
    <span>{{ item.key.name }}</span>
    <span>{{ item.value }}</span>
    <span>{{ getTotalOfItem(item.key, item.value) | currency }}</span>
    <div class="buttons">
        <button (click)="increaseItem(item.key)"><mat-icon>add</mat-icon></button>
        <button (click)="decreaseItem(item.key)"><mat-icon>remove</mat-icon></button>
    </div>
</div>
<p class="total">Total: {{getTotal() | currency}}</p>
</div>