.container {
    width: 80%;
    margin: auto;
}

.header {
    position: relative;
    text-align: center;
    width: 100vw; 
    height: 50vh;

    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

@media only screen and (max-width: 500px) {
    .header {background-image: url(~src/assets/images/cinema_low.jpg);}
}
@media only screen and (min-width: 500px) {
    .header {background-image: url(~src/assets/images/cinema.jpg);}
}

.title {
    position: relative;
    padding-top: 10vh;
    color: var(--text-white);

    font-weight: 900;
    font-size: calc(16px + 1.8vw);
}

.subtitle {
    position: relative;
    color: var(--text-white);

    font-size: calc(14px + 1vw);
    font-weight: 700;
}