<div class="header">
  <div class="title">Create your very own home theater.</div>
  <div class="subtitle">with record-breaking Bose equipment</div>
</div>
<div class="container">
    <a id="soundbars"></a>
    <h1>soundbars</h1>
    <app-product-list [categories]="['soundbar']"></app-product-list>
  
    <a id="bass-modules"></a>
    <h1>bass modules</h1>
    <app-product-list [categories]="['bass-module']"></app-product-list>
  
    <a id="surround-speakers"></a>
    <h1>surround speakers</h1>
    <app-product-list [categories]="['speaker','surround']"></app-product-list>

    <a id="amplifiers"></a>
    <h1>amplifier</h1>
    <app-product-list [categories]="['amplifier']"></app-product-list>
  </div>
  