<body>
    <div class="navbar">
        <div class="toggle_btn" (click)='openDropDown()'><mat-icon>menu</mat-icon></div>
        <a [routerLink]="['/']" class="logo"> <mat-icon>hearing</mat-icon> </a>
        <div class="nav-links">
            <a [routerLink]="['categories/headphones']">headphones</a>
            <a [routerLink]="['categories/earphones']">earphones</a>
            <a [routerLink]="['categories/speakers']">speakers</a>
            <a [routerLink]="['categories/home-theater']">home theater</a>
            <a href="#">contact</a>
        </div>
        <a [routerLink]="['/cart']" class="cart"><mat-icon>shopping_cart</mat-icon></a>
    </div>
    <div class="dropdown-menu">
        <div class="space"></div>
        <a [routerLink]="['categories/headphones']" (click)='openDropDown()'>headphones</a>
        <a [routerLink]="['categories/earphones']" (click)='openDropDown()'>earphones</a>
        <a [routerLink]="['categories/speakers']" (click)='openDropDown()'>speakers</a>
        <a [routerLink]="['categories/home-theater']" (click)='openDropDown()'>home theater</a>
        <a href="#">contact</a>
    </div>
</body>