mat-icon {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--text-black);
    font-size: 1rem;
}

a:hover {
    opacity: 0.6;
}

.navbar {
    position: relative;
    padding: 0 2rem;
    width: 80vw;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.toggle_btn {
    cursor: pointer;
    display: none;
}

/* dropdown */
.dropdown-menu {
    z-index: 9999;
    margin: 0px;
    position: absolute;
    background-color: var(--bg-color);
    top: 60px;
    width: 100vw;
    height: 0;
    overflow: hidden;

    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 100vh;
}

.dropdown-menu a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    font-size: 2rem;
    margin-left: 2rem;
}

/* responsive design */
@media(max-width: 800px) {
    .nav-links {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}
