<body>
    <div class="navbar">
        <div class="toggle_btn" (click)='openDropDown()'><mat-icon>menu</mat-icon></div>
        <a [routerLink]="['/']" class="logo"> <mat-icon>hearing</mat-icon> </a>
        <div class="nav-links">
            <a [routerLink]="['categories/headphones']">headphones</a>
            <a [routerLink]="['categories/earphones']">earphones</a>
            <a [routerLink]="['categories/speakers']">speakers</a>
            <a [routerLink]="['categories/microphones']">microphones</a>
            <a href="#">contact</a>
            <a href="#">login</a>
        </div>
        <a [routerLink]="['/']" class="cart"><mat-icon>shopping_cart</mat-icon></a>
    </div>
    <div class="dropdown-menu">
        <a [routerLink]="['categories/headphones']">headphones</a>
        <a [routerLink]="['categories/earphones']">earphones</a>
        <a [routerLink]="['categories/speakers']">speakers</a>
        <a [routerLink]="['categories/microphones']">microphones</a>
        <a href="#">contact</a>
        <a href="#">login</a>
    </div>
</body>