.container {
    width: 80%;
    margin: auto;
}

.header {
    position: relative;
    text-align: center;
    width: 100vw; 
    height: 50vh;

    background-repeat: no-repeat;
    background-size: cover ; 
    background-position: center center;
}

@media only screen and (max-width: 500px) {
    .header {background-image: url(~src/assets/images/speaker_500.jpg);}
}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .header {background-image: url(~src/assets/images/speaker_1000.jpg);}
}
@media only screen and (min-width: 1001px) {
    .header {background-image: url(~src/assets/images/speaker.jpg);}
}

img {
    width: 100vw; 
    height: 50vh;
    object-fit: cover;
}

.title {
    position: absolute;
    left: 10vw;
    top: 20vh;
    color: black;

    text-align: left;

    font-weight: 900;
    font-size: calc(12px + 2vw);
}

.subtitle {
    position: absolute;
    top: 20vh;
    right: 10vw;
    color: black;

    text-align: right;

    font-size: calc(10px + 1.2vw);
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .title {
        position: absolute;
        top: 6vh;
        right: auto;
        left: auto;
        width: 100%;
        color: var(--text-black);
    
        text-align: center;

        font-weight: 900;
        font-size: calc(24px + 3vw);
    }
    
    .subtitle {
        position: absolute;
        top:auto;
        bottom: 8px;
        right: auto;
        left: auto;
        width: 100%;
        color: var(--text-black);
    
        text-align: center;

        font-size: calc(14px + 2vw);
        font-weight: 700;
    }
  }