<div class="header">
<img src="../../../../assets/images/speaker.jpg">

<div class="title">Bose speakers.</div>
<div class="subtitle">Powerful sound,<br>wherever you need it.</div>
</div>

<div class="container">
<h1>bluetooth speakers</h1>
<a id="bluetooth-speakers"></a>
<app-product-list category="bluetooth-speakers" shouldScroll="true"></app-product-list>
</div>
<div class="container">
<a id="wired-speakers"></a>
<h1>wired speakers</h1>
<app-product-list category="wired-speakers" shouldScroll="true"></app-product-list>
</div>
