<div class="header">
  <img src="~/src/assets/images/speaker.jpg" />

  <div class="title">Bose speakers.</div>
  <div class="subtitle">Powerful sound,<br />wherever you need it.</div>
</div>

<div class="container">
  <h1>portable bluetooth speakers</h1>
  <a id="portable-speakers"></a>
  <app-product-list
    [categories]="['speaker', 'bluetooth', 'portable']"
  ></app-product-list>
</div>

<div class="container">
  <a id="surround-speakers"></a>
  <h1>surround speakers</h1>
  <app-product-list [categories]="['speaker', 'surround']"></app-product-list>
</div>
