.container {
    width: 80%;
    margin: auto;
}

.header {
    text-align: center;
    width: 100vw; 
    height: 50vh;

    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

@media only screen and (max-width: 500px) {
    .header {background-image: url(~src/assets/images/earphones_low.jpg);}
}
@media only screen and (min-width: 500px) {
    .header {background-image: url(~src/assets/images/earphones.jpg);}
}

.title {
    position: center;
    color: black;
    padding-top: 20vh;
    
    font-weight: 900;
    font-size: calc(12px + 1.8vw);
}

.subtitle {
    position: center;
    color: black;

    font-size: calc(10px + 1vw);
    font-weight: 700;
}