.container {
    width: 80%;
    margin: auto;
}

.header {
    text-align: center;
    width: 100vw; 
    height: 60vh;

    background-image: url(/assets/images/earphones.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-position: center center;
}



.title {
    position: center;
    color: black;
    padding-top: 20vh;
    
    font-weight: 900;
    font-size: calc(12px + 1.8vw);
}

.subtitle {
    position: center;
    color: black;

    font-size: calc(10px + 1vw);
    font-weight: 700;
}