<div class="productList">
    <p *ngIf="!products">Retrieving product data ...</p>
    <div *ngFor="let product of products">
        <div class="productBox" [routerLink]="['/products', product.id]">
            <img [src]="product.imagePath" alt="image">
            <p class="name">{{ product.name }}</p>
            <p class="description" *ngIf="product.description">{{product.description}}</p>
            <p class="price" *ngIf="product.price">{{ product.price | currency }}</p>
        </div>
    </div>
</div>