.productList {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 3vh;
    width: 80vw;
    flex-wrap: wrap;
}

.productList.scroll {

    flex-wrap: nowrap;
    overflow-x: scroll;

    /* snap */
    -ms-scroll-snap-destination: 0 0;
    scroll-snap-destination: 0 0;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.productList::-webkit-scrollbar {
    display: none;
}
.productList {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.title {
    text-align: center;
    font-size: calc(24px + 2vw);
    font-weight: bold;
    margin: auto;
}

.productBox {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    width: 250px;
    height: 360px;
    margin-bottom: 10px;

    background-color: white;

    border-radius: 15px;
    box-shadow: 0 4px 6px 1px #ccc;

    scroll-margin: 1;
    scroll-snap-stop: always;
}

.name {
    padding: 0px;
    margin: 0px;
    color: var(--text-black);
    font-weight: bold;
    font-size: calc(18px + 0.14vw);
}
.brand {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: var(--text-grey);
    font-size: calc(17px + 0.14vw);
}
.description {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    color: var(--text-grey);
    font-size: calc(12px + 0.08vw);
}

.price {
    position: absolute;
    bottom: -10px;
    right: 10px;
    
    color: var(--text-black);
    font-size: calc(17px + 0.14vw);
}

img {
    width: 100%;
    margin: auto;
}