<body>
<div class="box">
    <div class="waviy">
        <span style="--i:1">A</span>
        <span style="--i:2">U</span>
        <span style="--i:3">D</span>
        <span style="--i:4">I</span>
        <span style="--i:5">O</span>
        <span style="--i:6">S</span>
        <span style="--i:7">T</span>
        <span style="--i:8">O</span>
        <span style="--i:9">R</span>
        <span style="--i:10">E</span>
        <span style="--i:11">.</span>
       </div>
    <span class="subtext textDark"><br>Your favourite non-existent Bose retailer.</span>
    <span class="subtext textLight"><br><br>See whats new:</span>
    <app-product-list-carousel [categories]="[category]"></app-product-list-carousel>
</div>
<app-workplace></app-workplace>
<app-portable></app-portable>
<app-sports></app-sports>
<app-contact></app-contact>
<app-pilots></app-pilots>

</body>