body {
    width: 100%;
    margin: 0px;
}

.box {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 2em;
}

.about {
    left: 0;
}

.title {
    font-size: calc(28px + 6vw);
}

.subtext {
    font-size: calc(12px + 1vw);
}

.text {
    font-size: calc(6px + 1vw);
}

.textDark {
    color: var(--text-black);
}

.textLight {
    color: var(--text-gray);
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: calc(16px + 6vw);
    color: black;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}