/* Application-wide Styles */
:root {
    --bg-color:rgb(245, 245, 247);
    --text-black:rgb(29, 29, 31);
    --text-gray:rgb(111, 110, 115);
    --text-white: rgb(255, 255, 255);
}
* {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {background-color: var(--bg-color)}

h1 {
    color: var(--text-black);
    font-size: 250%;
}
  h2, h3 {
    color: #444;
    font-weight: lighter;
  }
  
  html,body
  {
      width: 100%;
      margin: 0px;
      padding: 0px;
  }